/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: Work Sans;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

nav a{
	text-decoration: none;
	color: black;
}

li a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}



#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 30px 30px 30px 30px;
}

footer nav ul li{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}


#filters{ 
	text-align: center;
	width: 100%;
	margin: 50px 0px 50px 0px;
}

#filters-bouton.active {
	background: #1D6154;
	color: #ffffff;
}

/* page login*/
#login {
	margin: 0px;
	padding: 0px 350px;
}

#login h2{
	margin-bottom: 20px;
	margin-top: 100px;
	text-align: center;
}

#login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login label{
	margin: 2em 0 1em 0;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
}


#login input[type="email"], 
#login input[type="password"] {
	border: none;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #FFFFFF;
}

#login input[type="submit"]{
	height: 30px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;
}
#login a{
	color:#3D3D3D;
	text-align: center;
	margin-bottom: 400px;
}

nav li a.inactive{
	font-weight: 400;
}

nav li a.active{
	font-weight: 600;
}

#connect-btn {
	cursor: pointer;
}
  
/*homepage-edit*/
#banner {
	background-color: black;
	width: 1400px;
	height: 59px;
	background-color: black;
	width: 1440px;
	height: 90px;
	position: relative;
	margin-right:50%;
	margin-left:50%; 
	transform: translate(-50%, -50%);
	
  }
  
.rectangle {
	background-color: white;
	width: 12%;
	height: 25px;
	border-radius: 60px;
	position: absolute;
	top:75%;
	left: 60%;
	transform: translate(-50%, -50%);
  }
  
.rectangle p{
	font-family: Work Sans;
	font-weight: 500;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	color: black;
	margin-top: 4px;
  }

.edit{
	position: absolute;
	top: 65%;
	left: 45%;
	transform: translate(-50, -50%);
	display: flex;
	gap: 10px;
	background-color: black;
}

.edit i {
	color: white;
	margin-top: 3px;
	font-size: 12px;
}

.edit button{
	font-family: Work Sans;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	line-height: 19px;
	color: white;
	margin: 0;
}

#introduction div{
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin:20px 0px 0px 58px;
	
}

.title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}

.change{
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 10px;
	
}
.modif{
	margin-bottom: 40px;
}
#introduction #modifie{
	margin: 0px 0px 40px 0px;
}
button{
	border: none;
	background:none;
	color: none;
	text-decoration: none;
	box-shadow: none;
	padding: 0px;
	cursor: pointer;
}

.hidden {
	display: none;
}

/* Afficher l'élément div si la classe hidden est supprimée */
.hidden:not(.hidden) {
	display: block;
}

#erreur {
  display: none;
  color: red;
}
  


/* Style pour la modale */
.modal {
	display: none; /* cachée par défaut */
	position: fixed; /* position fixe par rapport à la fenêtre */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3); /* fond gris semi-transparent */
	z-index: 1; /* au-dessus de tout le reste */
}

/* Style pour le contenu de la modale */
.modal-content {
	background-color: #fff; /* fond blanc */
	margin: 5% auto;
	padding: 20px;
	z-index: 2; /* au-dessus du fond gris */
	border-radius: 10px;
	width: 630px;
	height: 665px;
	padding: 0px;
	position: relative; /* permet de positionner les éléments fils */
}

/* Style pour la croix de fermeture */
.close {
	position: absolute; /* positionnement absolu par rapport à la modale */
	top: 0;
	right: 0;
	font-size: 28px;
	font-weight: bold;
	color: #000;
	padding: 10px;
}

/* Style pour la croix de fermeture au survol */
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal-header {
	position: relative;
  }
  
 h3 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 40px;
	width: 173px;
	height: 30px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: #000000;
  }

/*style pour le contenu des images*/
.modal-body {
	position: absolute; /* Ajout de la propriété position:absolute */
	top: 15%; /* Définir la position de l'élément  par rapport à son parent */
	left: 0;
	right: 0;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #B3B3B3;
	margin: 10px 60px 0px 60px;
	padding-bottom: 30px;
}

figure.picture {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	padding: 10px;
  }
  
figure.picture img {
	width: 80px;
	height: 100px;
}

h3{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
}
.icon{
	position: absolute;
	color: #fff;
	background-color: #000; 
	top:0;
	right: 0;
	padding: 3px;
	margin: 14px;
	border-radius: 2px;
	cursor: pointer;
}

.icon1{
	display: none;
	position: absolute;
	color: #fff;
	background-color: #000; 
	top:0;
	left: 0;
	padding: 3px;
	margin: 14px 2px 14px 42px;
	border-radius: 2px;
}

figure.picture:hover .icon1 {
	display: block;
}

.modal-footer {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.ajout{
	width: 50%;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	margin-left: 250px;
	margin-bottom: 10px;
	text-decoration: none;
}
.supprimer{
	color:#D65353;
	margin-left: 240px;
}
.arrow{
	position: absolute; /* positionnement absolu par rapport à la modale */
	top: 0;
	left: 0;
	font-size: 28px;
	font-weight: bold;
	color: #000;
	padding: 10px;
}
.arrow:hover,
.arrow:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.arrow-hidden {
	display: none;
}

.photo-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0px 0px 20px 0px;
	align-items: center;
	background: #E8F1F7;
	border-radius: 3px;
}

.fa-image{
	color: #B9C5CC;
	font-size: 4em;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 20px;
}

.addpicture{
	justify-content: center;
	background: #CBD6DC;
	border-radius: 50px;
	width: 125%;
	height: 36px;
	color: #306685;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}
.text{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #444444;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 40px;
}

.title1{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
	border: none;
}

.no-border {
	border: none;
	height: 30px;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;
}

.choix{
	width: 100%;
	color: #6C6C6C;
}
select {
	width: 100%;
	height: 30px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #6C6C6C;;
}
.ajout-form{
	width: 100%;
	margin-bottom: 60px;
}

.valider{
	background: #A7A7A7;
	border-radius: 60px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	width: 50%;
	height: 36px;
	margin-left: 300px;
	margin-bottom: 10px;
	text-decoration: none;
}
#photo{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
	width: 150px;
	height: 220px;
	display: none;	
}

.error-message {
	color: red;
	font-weight: bold;
	margin-bottom: 50px;
	margin-left: 60px;
}
  